{% extends "base.html" %}
{% block title %}
  {{ post.title }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %} |
  {{ post.pub_date|date:"d E Y" }}
{% endblock %}
{% block content %}
<main>
  <div class="container py-5">
      <article>
          <ul>
              <li>
                  Место: {{ post.location }}
              </li>
              <li>
                  Дата: {{ post.date }}
              </li>
              <li>
                Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
              </li>
          </ul>
          <p>
              {{ post.text|linebreaks }}  <!-- Обработка переноса строк для отображения -->
          </p>
      </article>                
  </div>
</main>
{% endblock %}